/* Class for html nav element and navbar on all pages */
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  box-shadow: 12px black;
  background-color:#0D1821;
  color: #F0F4EF;
  display: flex;
  height: 86px;
  padding: 10px;
  font-family: sans-serif;
}
.logo {
  font-size: medium;
  margin-right: 70%;
  padding-left: 10px;
}
a {
  color: #F0F4EF;
  text-decoration: none;
}
body {
  background-color: #F0F4EF;
  margin: 0px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 84px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 96px;
  background-color: #B4CDED;
  color: #344966;
  font-family: sans-serif;
}
img {
  max-width: 25%;
  height: auto;
  border-radius: 10px;
  margin: auto;
}
h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}